<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META SECTION -->
    <title>Atlant - Responsive Bootstrap Admin Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css" />
    <!-- EOF CSS INCLUDE -->

</head>

<body ng-app="app" ng-controller="ViewController as view">
    <!-- START PAGE CONTAINER -->
    <div class="page-loader" data-ng-show="view.data.loading">
        <div class="throbber loader"></div>
    </div>
    <div class="page-container">
        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a href="dashboard.html">WORKFLOW</a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-profile">
                    <a href="#" class="profile-mini">
                        <img src="assets/images/users/avatar.jpg" alt="Kishan Patel" />
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <img src="assets/images/users/avatar.jpg" alt="John Doe" />
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name">Kishan Patel</div>
                            <div class="profile-data-title">Web Developer/Designer</div>
                        </div>
                        <div class="profile-controls">

                        </div>
                    </div>
                </li>
                <li class="xn-title">Navigation</li>
                <li class="active">
                    <a href="#home">
                        <span class="fa fa-desktop"></span>
                        <span class="xn-text">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#/users">
                        <span class="fa fa-users"></span>
                        <span class="xn-text">Manage Users</span>
                    </a>
                </li>
                <li>
                    <a href="#/entries/create">
                        <span class="fa fa-pencil"></span>
                        <span class="xn-text">Create Entry</span>
                    </a>
                </li>
                <li class="xn-openable">
                    <a href="#">
                        <span class="fa fa-cogs"></span>
                        <span class="xn-text">Workflow Operations</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#/initiate">
                                <span class="fa fa-edit"></span>Create</a>
                        </li>
                        <li>
                            <a href="#view">
                                <span class="fa fa-list-alt"></span>View</a>
                        </li>
                        <li>
                            <a href="#/downlod">
                                <span class="fa fa-download"></span>Downlod</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->

        <!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize">
                        <span class="fa fa-dedent"></span>
                    </a>
                </li>
                <!-- END TOGGLE NAVIGATION -->
                <!-- SEARCH -->
                <li class="xn-search">
                    <form role="form">
                        <input type="text" name="search" placeholder="Search..." />
                    </form>
                </li>
                <!-- END SEARCH -->
                <!-- SIGN OUT -->
                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" data-box="#mb-signout" title="Logout">
                        <span class="fa fa-sign-out"></span>
                    </a>
                </li>
                <!-- END SIGN OUT -->
                <!-- MESSAGES -->

                <!-- END MESSAGES -->
                <!-- TASKS -->

                <!-- END TASKS -->
            </ul>
            <!-- END X-NAVIGATION VERTICAL -->

            <div class="main-container">
                <div ng-view></div>
            </div>

        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->

    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title">
                    <span class="fa fa-sign-out"></span> Log
                    <strong>Out</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="login.html" class="btn btn-success btn-lg">Yes</a>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->

    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->
    <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>

    <script src="js/plugins/angular/angular.min.js"></script>
    <script src="js/plugins/angular/angular-animate.min.js"></script>
    <script src="js/plugins/angular/angular-cookies.min.js"></script>
    <script src="js/plugins/angular/angular-route.min.js"></script>
    <script src="js/plugins/angular/angular-touch.min.js"></script>
    <script src="js/plugins/angular/moment.min.js"></script>
    <script src="js/plugins/angular/angular-moment.min.js"></script>
    <script src="js/plugins/angular/angular-truncate.js"></script>
    <script src="js/plugins/angular/angular-preload-image.min.js"></script>
    <!-- END PLUGINS -->

    <!-- MODULES -->
    <script src="app.routes.js"></script>
    <script src="app.config.js"></script>
    <script src="app.services.js"></script>
    <script src="app.js"></script>
    <!-- / -->
    <!-- CONTROLLERS -->
    <script src="components/view.ctrl.js"></script>
    <script src="sections/home/home.ctrl.js"></script>
    <script src="sections/entries/entries.ctrl.js"></script>
    <script src="sections/users/users.ctrl.js"></script>
    <script src="sections/workflow/workflow.ctrl.js"></script>
    <!-- / -->
    <!-- SERVICES -->
    <script src="services/show.fct.js"></script>
    <script src="services/entry.fct.js"></script>
    <script src="services/user.fct.js"></script>
    <script src="services/workflow.fct.js"></script>
    <script src="services/page.val.js"></script>
    <!-- / -->
    <!-- DIRECTIVES -->

    <!-- / -->

    <!-- START THIS PAGE PLUGINS-->
    <script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="js/plugins/scrolltotop/scrolltopcontrol.js"></script>


    <script type='text/javascript' src='js/plugins/bootstrap/bootstrap-datepicker.js'></script>
    <script type="text/javascript" src="js/plugins/owl/owl.carousel.min.js"></script>

    <script type="text/javascript" src="js/plugins/moment.min.js"></script>
    <script type="text/javascript" src="js/plugins/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="js/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- END THIS PAGE PLUGINS-->

    <script type="text/javascript" language="javascript" src="js/plugins/datatables/dataTables.buttons.min.js">
    </script>
    <script type="text/javascript" language="javascript" src="js/plugins/datatables/jszip.min.js">
    </script>
    <script type="text/javascript" language="javascript" src="js/plugins/datatables/pdfmake.min.js">
    </script>
    <script type="text/javascript" language="javascript" src="js/plugins/datatables/vfs_fonts.js">
    </script>
    <script type="text/javascript" language="javascript" src="js/plugins/datatables/buttons.html5.min.js">
    </script>
    <script type="text/javascript" language="javascript" src="js/plugins/datatables/buttons.colVis.min.js">
    </script>
    <!-- START TEMPLATE -->

    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/actions.js"></script>

    <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->
</body>

</html>